/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700display=swap"); */

/* html{
    font-family: "Poppins", sans-serif;
} */


body {
    /* background: rgb(5, 0, 38); */
    background: rgb(76,133,75);
    background-image: url("hockey.webp"),url("Hockey-Pitch.jpg"),url("Field_hockey.jpg"),url("GoaliePic.webp");
    background-repeat: no-repeat;
    /* Issue to address later: goalie image shifts when the screen size changes*/
    background-position-y: top, 1000px, bottom, 1500px;     
    background-position-x: center, center, center, right;
    background-size: 100%, 50%, 100%, 25%;
    margin-left: 40px;
    margin-right: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 1.8;
}

h1 {
    background-color: rgb(255, 255, 255);
    font-size: 40px;
    margin-left: 0px;
    padding: 15px;
    padding-left: 60px;
    /* font-family: "Poppins", sans-serif; */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

span {
    color: white;
    text-shadow: -1px -1px 5px black;
    font-size: 20px;
}

#pos {
    padding-top: 10px;        /*200 */
    h2 {
        text-align: center;
        font-family: fantasy;
        background-color: white;
        font-size: 30px;
    }
}

#pos-text {
    color:white;
    text-shadow: -1px -1px 5px black;
    /* background-color: black; */
    background-blend-mode: darken;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#def {
    background-color:#0b005c;
}

#mid {
    background-color:#000000;
}

#att {
    background-color:#004700;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 31.5%;
    padding: 10px;
    padding-top: 0px;   /*This is a bit messy with the padding, figure this out */
    h3{
        text-align: center;
        font-size: 20px;
    }
    
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#goalie {
    h3 {
        /* color:rgb(255, 0, 208);
        text-shadow: 1px 1px 25px black; */
        color:black;
        text-shadow: 1px 1px 5px rgb(255, 0, 208);
        font-size: 27px;
    }
    color:black;
    text-shadow: 1px 1px rgb(255, 0, 208);
    background:white;
    text-align: center;
    padding: 10px;
    margin-right: 25%;
}

#rules-list {
    float: left;
    width: 30%;
    padding: 10px;
    background-color: rgba(255, 251, 0, 0.833);
    color: black;
}

#equipment-list {
    float: right;
    width: 30%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.492);
    color: white;
}

#footer {
    margin: 25px;
    /* padding-top:300px; */
    /* padding-bottom:5px; */
    color: white;
    text-shadow: -1px -1px 5px black;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.271);
}

#updates {
    float: centre;
    /* width: 30%; */
    padding: 5px;
    margin-left: 450px;
    background-color: rgba(255, 0, 144, 0.768);
    color: black;
}